<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.meet">

    <!-- 允许访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/meet_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meet_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8834951ad3e5fd78c5ac725adf7b7af2" />

        <!-- landscape设置横屏 -->
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- portrait设置竖屏 -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".view.my_achievements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.RunningActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.TeamRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>